# dependencies
node_modules/
.pnp
.pnp.*
.yarn/install-state.gz

# next
.next/
out/
build/
dist/
*.tsbuildinfo

# misc
.DS_Store
*.pem
*.log

# data
data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# env
.env
.env.local
.env.*.local

# bun
bun.lockb
.bun/
coverage/

# debug
.swc/
.turbo/

certificates/
